import(rgl)
exportPattern("^[[:alpha:]]+")
S3method(merge, coords)
S3method(merge, atoms)
S3method(merge, pdb)
S3method(range, coords)
S3method(range, atoms)
S3method(range, pdb)
S3method(split, pdb)
S3method(unsplit, pdb)
S3method(subset, atoms)
S3method(subset, pdb)
